<div class="bottom-menu">
    <a href="./" class="menu-item" tab="users">
        <img src="img/user-icon.png" />
        <span class="tag">Usuarios</span>
    </a>
    <a href="coaches" class="menu-item" tab="users">
        <img src="img/coach-icon.png" />
        <span class="tag">Coaches</span>
    </a>
    <a href="disciplines" class="menu-item" tab="users">
        <img src="img/discipline-icon.png" />
        <span class="tag">Disciplinas</span>
    </a>
    <a href="videos" class="menu-item" tab="users">
        <img src="img/video-icon.png" />
        <span class="tag">Videos</span>
    </a>
    <a href="analytics" class="menu-item" tab="users">
        <img src="img/analytics-icon.png" />
        <span class="tag">Analítica</span>
    </a>
</div>